# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#test and benchmark outputs
*_test
*_benchmark

# cmake files
CMakeFiles
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
Makefile
Testing

# Build directories
bin
build

# VIM files
*.swp

#Google test and benchmark files
test/gtest
benchmark/google-benchmark
